@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');

$gray: #333333;
$darkgray: #2e2e2e;
$yellow: #f3cd52;
$lightgray: rgba(255, 255, 255, 0.4);
$white: #fff;
$padding: 30px 0;
$transition: .4s ease;

@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin btn{
    background-color: $yellow;
    border: none;
    padding: 10px 30px;
    margin: 30px 0;
    color: $darkgray;
    &:hover{
        transition: $transition;
        color:$gray;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pontano Sans', sans-serif;
    background: var($gray);
    line-height: 1.7;
    font-size: 16px;
    color: $darkgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.container {
    width: 70%;
    margin: auto;
}

img {
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    width: 70%;
    margin: 0 auto;
    border: none;
    background: $white;
    height: 1px;
}
p{
    font-size: .9rem;
    letter-spacing: 1px;
}

nav {

    background-color: $yellow;
    padding: $padding;
    width: 100%;
    position: fixed;
    
   
    ul {
        @include flex(space-between, center, row);
        width: 50%;
        margin: 0 auto;

        li {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            cursor: pointer;
            margin-right: 30px;

            &:hover {
                transition: $transition;
                transform: scale(110%);


            }
        }
    }
}

.mainHeader {
    background-color: $yellow;

    .container {
        align-items: center;
        padding: $padding;
        text-align: center;

        h1 {
            padding-top: 100px;
            font-size: 3rem;
            align-items: center;
        }

        h3 {
            padding: 10px 0 30px 0;
            font-size: 1rem;
            text-transform: uppercase;
            align-items: center;
        }
        img{
            margin: 20px 0;
            border: 20px solid $lightgray;
        }
    }
}

.about {
    background-color: $gray;
    padding: $padding;    

    article {

        color: $white;
        text-align: center;
        @include flex(space-between, center, row);
        div{
            flex: 0 0 30%;

            h2{
                font-size: 1.5rem;
                margin-bottom: 30px;

            }

            button {
                @include btn;
                text-transform: uppercase;
            }
        }
    }
}

.portfolio{
    @extend .about;

    article {

        div{
            flex: 0 0 22%;

            img {
                width: 100%;

            }
            h2{
                margin-bottom: 10px;

            }
        }
    }
}